.jobs-page {
  padding: 20px 60px;
  display: flex;
  background-color: #121212;
  height: 100%;
}
.job-filters {
  color: #ffffff;
  width: 25vw;
  padding: 5px;
}
.job-filters hr {
  margin-top: 10px;
}
.jobs-available {
  color: #ffffff;
  width: 75vw;
  padding: 10px 40px;
}
.profile-box {
  width: 100%;
  height: 200px;
  border-radius: 16px;
}
.success-profile {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  color: #2c364c;
  padding: 20px 15px;
}
.success-profile h1 {
  font-size: 22px;
}
.success-profile p {
  font-size: 14px;
}
.profile-img {
  height: 50px;
}
.failure-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.failure-profile button {
  background-color: #6366f1;
  color: #ffffff;
  padding: 7px 20px;
  border-radius: 2px;
}
.job-emp {
  color: #ffffff;
  /* padding: 10px; */
}
.emp-h1 {
  font-size: 18px;
  font-weight: 500;
}
.emp-input {
  margin-right: 10px;
}
.jobs-search {
  color: #f8fafc;
  background-color: transparent;
  padding: 5px;
  width: 100%;
}
.search-container {
  display: flex;
  border: 1px solid #cbd5e1;
  width: 35%;
  align-items: center;
}
.btn {
  background-color: #202020;
  color: #ffffff;
  /* height: 100%; */
  padding: 4px 7px;
  margin-right: 0px;
  /* border: 1px solid #cbd5e1; */
}
.jobs-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.jobs-error-img {
  height: 40vh;
}
.retry-btn {
  background-color: #6366f1;
  color: #ffffff;
  padding: 6px 20px;
  border-radius: 4px;
}
